.feeds-categories-view
{
	background-color: $content-bg !important;

	.categories-list
	{
		@include flex-wrap(wrap);
		.col {
			padding:1px;
		}
	}

	.feed-category
	{
		// THIS IS FUCKING AWESOME: http://caniuse.com/#feat=viewport-units
		@include calc(height, "70vw - 15px");
		box-shadow: 0 1px 3px rgba(darken($feed-category-bg, 30%), 0.3);
		border-radius: 2px;
		position: relative;
		display: block;
		
		.category-image
		{
			width: 100%;
			height: 100%;
			border-radius: 2px;
		}

		.category-bg
		{
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			background: linear-gradient(rgba(darken($feed-category-bg, 80%), .85), rgba(darken($feed-category-bg, 60%), .3) 40%, rgba($feed-category-bg, .3) 60%, rgba(lighten($feed-category-bg, 10%), .3));
		}

		.category-title
		{
			color: $feed-category-color;
			position: absolute;
			top: 2px;
			left: 8px;
			font-weight: 500;
			text-transform: capitalize;
		}
		.category-rating
		{
			color: yellow;
			position: absolute;
			bottom: 65px;
			right: 6px;
			font-weight: 500;
			text-transform: capitalize;
			font-size: 30px;
		}
		.category-name
		{
			color: $feed-category-color;
			position: absolute;
			bottom: 34px;
			left: 5px;
			font-weight: 500;
			text-transform: capitalize;
			font-size: 17px;
		}
		.category-reviews
		{
			color: $feed-category-color;
			position: absolute;
			bottom: 6px;
			left: 5px;
			font-weight: 500;
			text-transform: capitalize;
			font-size: 13px;
		}
		
	}
	.top-buttons{
			padding: 2px 0px 7px 0px !important;
			button {
				border-radius: 50px;
				padding: 0px 8px 0px 8px;
				min-width: 75px;
			}
		}
}
a.feed-category {
			background-color: $feed-category-bg !important;
		}